.eventInfo {
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 30px !important;
  border-radius: 5px;
  @media screen and (min-width: 550px) {
    min-width: 580px;
    max-width: 100vw;
  }
}

.eventHeading {
  border-bottom: 1px solid rgba(0,0,0,.12);
}
