.signupForm {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 24px;
  max-width: 100vw;
  box-sizing: border-box;
}

.formField {
  max-width: 430px;
}
