// Included if you are using grommet.  Otherwise, just erase this next line.
@import 'grommet-udacity/scss/udacity/index';

// Add globally used utility styles here.
// Or import scss libraries that are to be used without CSS modules.
/*
.my-style {
  max-width: 20px;
  color: goldenrod;
}
<div className="my-style" />
*/

input, textarea {
  max-width: 380px;
  outline: none;
  @media screen and (max-width: 480px) {
    max-width: 330px;
  }
  @media screen and (max-width: 330px) {
    max-width: 280px;
  }
}

.grommetux-form-field {
  max-width: 430px;
  @media screen and (max-width: 480px) {
    max-width: 330px;
  }
  @media screen and (max-width: 330px) {
    max-width: 200px;
  }
}
