.panel {
  background: #fff;
  box-shadow: 0 2px 4px 0 hsla(34,12%,61%,.52);
  width: 100%;
  margin-bottom: 80px;
  position: relative;
  min-width: 500px;
  @media screen and (max-width: 500px) {
    min-width: 300px;
    width: 100%;
  }
}

.icon {
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraph {
  padding: 0 40px;
}
